<div class="container">
  <div class="content">
    <div class="result">
      <div class="title">{{mainTitle}}</div>
      <div class="elements">
        <p *ngFor="let tag of tags">{{tag}}</p>
      </div>
      <div class="remind-element">+5</div>
    </div>
    <div>
      <input type="text" name="mainTitle" [(ngModel)]="mainTitle">
      <div class="form" [formGroup]="dataForm">
        <input type="text" name="masterTag" formControlName="masterTag" (keyup)="updateMasterTag()">
        <input type="text" name="newTag" formControlName="newTag"><button>Add tag</button><button>Remove last tag</button>
      </div>
    </div>
  </div>
</div>
